-- MySQL dump 10.13  Distrib 8.0.42, for Win64 (x86_64)
--
-- Host: localhost    Database: MultiPillarCreditDB
-- ------------------------------------------------------
-- Server version	8.0.42

/*!40101 SET @OLD_CHARACTER_SET_CLIENT=@@CHARACTER_SET_CLIENT */;
/*!40101 SET @OLD_CHARACTER_SET_RESULTS=@@CHARACTER_SET_RESULTS */;
/*!40101 SET @OLD_COLLATION_CONNECTION=@@COLLATION_CONNECTION */;
/*!50503 SET NAMES utf8mb4 */;
/*!40103 SET @OLD_TIME_ZONE=@@TIME_ZONE */;
/*!40103 SET TIME_ZONE='+00:00' */;
/*!40014 SET @OLD_UNIQUE_CHECKS=@@UNIQUE_CHECKS, UNIQUE_CHECKS=0 */;
/*!40014 SET @OLD_FOREIGN_KEY_CHECKS=@@FOREIGN_KEY_CHECKS, FOREIGN_KEY_CHECKS=0 */;
/*!40101 SET @OLD_SQL_MODE=@@SQL_MODE, SQL_MODE='NO_AUTO_VALUE_ON_ZERO' */;
/*!40111 SET @OLD_SQL_NOTES=@@SQL_NOTES, SQL_NOTES=0 */;

--
-- Table structure for table `tbl_applicants`
--

DROP TABLE IF EXISTS `tbl_applicants`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_applicants` (
  `applicant_id` int NOT NULL AUTO_INCREMENT,
  `utilization_ratio` decimal(10,4) DEFAULT NULL,
  `debt_to_income` decimal(10,4) DEFAULT NULL,
  `credit_history_score` tinyint DEFAULT NULL,
  `loan_duration` int DEFAULT NULL,
  `age` int DEFAULT NULL,
  `is_unbanked` tinyint(1) DEFAULT NULL,
  `applicant_type` enum('Individual','MSME','E-Commerce') DEFAULT NULL,
  `default_status` tinyint(1) DEFAULT NULL,
  PRIMARY KEY (`applicant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=10001 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_applicants`
--

LOCK TABLES `tbl_applicants` WRITE;
/*!40000 ALTER TABLE `tbl_applicants` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_applicants` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_ecommerce_attributes`
--

DROP TABLE IF EXISTS `tbl_ecommerce_attributes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_ecommerce_attributes` (
  `eco_id` int NOT NULL AUTO_INCREMENT,
  `applicant_id` int DEFAULT NULL,
  `essential_basket_index` decimal(10,4) DEFAULT NULL,
  `order_regularity_score` decimal(10,4) DEFAULT NULL,
  `bnpl_repayment_speed` decimal(10,2) DEFAULT NULL,
  `cancelled_order_ratio` decimal(10,4) DEFAULT NULL,
  PRIMARY KEY (`eco_id`),
  KEY `applicant_id` (`applicant_id`),
  CONSTRAINT `tbl_ecommerce_attributes_ibfk_1` FOREIGN KEY (`applicant_id`) REFERENCES `tbl_applicants` (`applicant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3319 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_ecommerce_attributes`
--

LOCK TABLES `tbl_ecommerce_attributes` WRITE;
/*!40000 ALTER TABLE `tbl_ecommerce_attributes` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_ecommerce_attributes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_individual_attributes`
--

DROP TABLE IF EXISTS `tbl_individual_attributes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_individual_attributes` (
  `ind_id` int NOT NULL AUTO_INCREMENT,
  `applicant_id` int DEFAULT NULL,
  `recharge_buffer` int DEFAULT NULL,
  `emergency_fund_idx` decimal(10,4) DEFAULT NULL,
  `ott_sub_freq` decimal(10,2) DEFAULT NULL,
  PRIMARY KEY (`ind_id`),
  KEY `applicant_id` (`applicant_id`),
  CONSTRAINT `tbl_individual_attributes_ibfk_1` FOREIGN KEY (`applicant_id`) REFERENCES `tbl_applicants` (`applicant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3347 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_individual_attributes`
--

LOCK TABLES `tbl_individual_attributes` WRITE;
/*!40000 ALTER TABLE `tbl_individual_attributes` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_individual_attributes` ENABLE KEYS */;
UNLOCK TABLES;

--
-- Table structure for table `tbl_msme_attributes`
--

DROP TABLE IF EXISTS `tbl_msme_attributes`;
/*!40101 SET @saved_cs_client     = @@character_set_client */;
/*!50503 SET character_set_client = utf8mb4 */;
CREATE TABLE `tbl_msme_attributes` (
  `msme_id` int NOT NULL AUTO_INCREMENT,
  `applicant_id` int DEFAULT NULL,
  `inventory_turnover_ratio` decimal(10,2) DEFAULT NULL,
  `customer_refund_rate` decimal(10,4) DEFAULT NULL,
  `stockout_frequency` int DEFAULT NULL,
  `sales_growth_velocity` decimal(10,4) DEFAULT NULL,
  `supplier_payment_delay` int DEFAULT NULL,
  PRIMARY KEY (`msme_id`),
  KEY `applicant_id` (`applicant_id`),
  CONSTRAINT `tbl_msme_attributes_ibfk_1` FOREIGN KEY (`applicant_id`) REFERENCES `tbl_applicants` (`applicant_id`)
) ENGINE=InnoDB AUTO_INCREMENT=3337 DEFAULT CHARSET=utf8mb4 COLLATE=utf8mb4_0900_ai_ci;
/*!40101 SET character_set_client = @saved_cs_client */;

--
-- Dumping data for table `tbl_msme_attributes`
--

LOCK TABLES `tbl_msme_attributes` WRITE;
/*!40000 ALTER TABLE `tbl_msme_attributes` DISABLE KEYS */;
/*!40000 ALTER TABLE `tbl_msme_attributes` ENABLE KEYS */;
UNLOCK TABLES;
/*!40103 SET TIME_ZONE=@OLD_TIME_ZONE */;

/*!40101 SET SQL_MODE=@OLD_SQL_MODE */;
/*!40014 SET FOREIGN_KEY_CHECKS=@OLD_FOREIGN_KEY_CHECKS */;
/*!40014 SET UNIQUE_CHECKS=@OLD_UNIQUE_CHECKS */;
/*!40101 SET CHARACTER_SET_CLIENT=@OLD_CHARACTER_SET_CLIENT */;
/*!40101 SET CHARACTER_SET_RESULTS=@OLD_CHARACTER_SET_RESULTS */;
/*!40101 SET COLLATION_CONNECTION=@OLD_COLLATION_CONNECTION */;
/*!40111 SET SQL_NOTES=@OLD_SQL_NOTES */;

-- Dump completed on 2026-02-19 18:50:35
